@import '~bootSTrap/scss/bootSTrap';
$STFont: 'Source Sans Pro', sans-serif;;
$STBlue: blue;
$STRed: #FF585D;
$STWhite: #FFF;
.course1 {
  padding-top: 3rem;
  background-size: 70rem;
  // width: 100rem;
  height: 25rem;
  background-image: url("https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2020-05/1_SEI_HeaderImage_C2_taller3.jpg?itok=4i-mleFh");
}

.course2 {
  padding-top: 3rem;
  background-size: 70rem;
  // width: 100rem;
  height: 25rem;
  background-image: url("https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2020-01/UXDI_Header-image_012720.jpg?itok=AoH9VzbS");
}

.course3 {
  padding-top: 3rem;
  background-size: 70rem;
  // width: 100rem;
  height: 25rem;
  background-image: url("https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2020-06/DMI_HeaderImage_062220.jpg?itok=Av_FlAOL");
}

.course4 {
  padding-top: 3rem;
  background-size: 70rem;
  // width: 100rem;
  height: 25rem;
  background-image: url("https://generalassemb.ly/sites/default/files/styles/program_header_desktop_xxl_1x/public/2019-11/1_AN_HeaderImage_102919.jpg?itok=sigGblFc");
}

.ptag {
  margin-right: 35rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

.head {
  margin-left: 3rem;
}
.subtitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cardcontainer {
  margin-left: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem
}

.newnav {
  background-color: black;
}
.Logo {
  max-width: 4rem;
}
.btn-primary {
  margin: 2px;
}
.searchContainer {
  background-color: #FFF;
  border: 0.5px solid black;
  border-radius: 25px;
  padding-left: 1%;
  width: 40vw;
}
.searchBar {
  font-family: $STFont;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  border-radius: 10%;
  width: 100%;
  height: 5vh;
  z-index: 1;
  & input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
  }
  & .searchButton {
    text-align: center;
    background-color: $STRed;
    border-radius: 10%;
    margin-right: 5%;
    width: 10%;
    cursor: pointer;
    &:hover {
      background-color: blue;
    }
    & button {
      background: transparent;
      border: none;
      width: 100%;
    }
  }
}

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.belowMap {
  margin-top: 33rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newYorkWord {
  margin-top: 2rem;
  margin-left: 4rem;
}

.newYorkMap {
  margin-top: -11rem;
  margin-left: 36rem;
}
.btn {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: none;
    color: #de3535;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 13px;
    &:hover {
      background-color: red;
      border-color: white;
    }
}
.navi_footer {
    clear: both;
    background-color: #222222;
    color: #a2a2a2;
    padding-top: 16px;
    padding-top: 1rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    margin-top: 10rem;
}
.navi_footer-grid-one-half {
  margin-left: 4rem;
}
.second {
  margin-left: 4rem;
}
.footerword {
  margin-top: 3rem;
}
